@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*--------------------------------------*/
.contact-slide{
height: 30vh;
width: 100%;
background-image: url(../image/busine.png);
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
}
.slide-up{
	height: 100%;
	width: 100%;
	background-color: #04d2c8;
	opacity: 0.8;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.slide-up h2{
	font-size: 2.5em;
	color:#fff;
	margin-left: 7%;
	margin-right: 2%;
	transition: .3s;
	
}
.slide-up h2:hover{
	transform: scale(1.1);
	overflow: hidden;
}
.slide-up a{
	text-decoration: none;
	font-weight:bold;
	color:#fff;
}
.slide-up a:hover{
	text-decoration: underline;
	color:#fff;
}
.slide-up span{
	color:#fff;
}
/*----------------------------------------*/
.container2{
	padding: 100px 0px;
	background-color: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(71, 82, 90) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.hero{
	min-height: 30vh;
	width:85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.hero-detail-box{
	height:100%;
	width: 49%;
	background-color: #fff;
}
.hero-detaiol-box2
{
	border-radius:5px;
	box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.05);
	background-color: #fff; 
	display: flex;
	justify-content: center; 
	align-items: center;
}
.contact-detail-box{
	min-height: 5vh;
	width: 100%;
}
.contact-detail-box .detail-head{
	font-size: 2em;
	font-weight: 700;
	color: #42495b;
}
.contact-detail-box .detail-para{
	font-size: 18px;
    line-height: 1.555555555555556em;
    font-weight: 400;
    color: grey;
	margin: 20px 0px;
}
.contact-detail-box h3{
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    text-align: left;
    color: #42495b;
}

.contact-detail-icon{
	color:grey;
	line-height: 2em;
	font-size: 16px;
	font-weight: 500;
	transition: .2s;
}
.contact-detail-icon i:hover{
	transform: scale(1.2);
}
.contact-detail{
	margin-left: 20px;
}
.contact-detail:hover{
	color:#04d2c8;
}
.form-hero-box{
	height: 90%;
	width: 90%;
}
.form-top-box{
	height: 15%;
	width: 100%;
}
.form-top-box h3{
	font-size: 22px;
    font-weight: 700;
    color: #42495b;
	margin-bottom: 40px;
}
.form-bottom-box{
	height: 85%;
	width: 100%;
}
@media (max-width:1024px) {
	.hero{
		flex-wrap: wrap;
		flex-direction: column;
		flex-flow: column;
		padding: 0px;
	}
	.hero-detail-box{
		width: 100%;
		padding: 0%;
		margin: 0%;
	}
	
	.form-hero-box
	{
		height: 100%;
		width: 100%;
	}
	.form-top-box{
		width: 100%;
		
	}
	.form-top-box h3{
		margin-bottom: 20px;
	}
	.form-bottom-box{
		width: 95%;
		margin-left: 20px;
		display: flex;
		justify-content: center;
	}
	.wrapper{
		width: 95%;
	}
	.hero-detaiol-box2{
		margin-top: 60px;
	}
	
}
@media (max-width:768px){
	.container2{
		padding: 50px 0px;
	}
}
@media (max-width:500px ){
	
	.container2 {
		padding: 50px 0px;
		
	}
	.hero-detaiol-box2{
		margin-top: 40px;
		box-shadow: none;
	}
	.form-top-box h3{
		margin-bottom: 10px ! ;
	}
	.form-bottom-box{
		width: 95%;
		margin-left: 5px ;
	}
	.form-top-box h3{
		margin-bottom: 15px ;
	}
	.wrapper{
		width: 100%;
	}
	.contact-detail-box h3{
		font-size: 16px;
		line-height: 15px;
	}
	.contact-detail-box .detail-para{
		font-size: 16px;
		line-height: 1.4em;
	}
	.contact-detail-box .detail-head{
		font-size: 1.8em;
	}
}
::selection{
  color: #fff;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  background: #fff;
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 20px;
  border: 2px solid #04d2c8;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #04d2c8;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
	width: 100%;
  padding: 15px 20px 0 20px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #04d2c8;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #05aba3be;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media screen and (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}
/*--------------------------------------------------------------*/
.container3{
	padding: 50px 0px;
	background-color: #fff;
	width: 100%;
	min-height: 10vh;
}
.location{
	min-height: 50vh;
	width: 95%;
	margin: 0px auto;
}
.location iframe{
	height: 55vh;
	width: 100%;
	border-radius: 15px;
}