@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*****modal code******/

.gallary{
    min-height: 200px;
    width: 100%;
    margin: 0px;
    padding: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.gallary img{
    height: 300px;
    width: 33%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    transition: 1s;
}
.gallary img:hover{
transform: scale(1.1);
}
@media (min-width:1235px) {
    .gallary img{
        width: 320px !important;
    }
}